.portfolio-item-front,
.portfolio-item-back {
  transition: transform 0.6s ease-in-out;
  backface-visibility: hidden;
}

.portfolio-item-back {
  transform: rotateY(180deg);
}
.portfolio-item.flipped .portfolio-item-front {
  transform: rotateY(-180deg);
}

.portfolio-item.flipped .portfolio-item-back {
  transform: rotateY(0deg);
}

.portfolio-item-back .portfolio-item-inner {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: rgba(75, 75, 75, 0.3);
  border-radius: 5px;
}

@media screen and (max-width: 820px) {
  .portfolio h1 {
    left: 25%;
  }

  .portfolio-item {
    margin: 0 auto;
    margin-block: 1rem;
  }

  .portfolio-row {
    margin-left: 1rem;
    gap: 1rem;
    scroll-snap-align: start;
  }
}
